.searchGroup {
    display: flex;
    align-items: center;
  }
  
  .searchGroup .form-label {
    min-width: 80px;
  }
  
  .searchGroup .form-control {
    margin-left: 10px;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .roundButton {
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .formSearch {
    border: 1px solid #ddd;
    padding: 1%;
  }
  
  .rowSearch {
    width: 80%;
    margin: 8px auto;
  }

  .labelSearch {
    width: 15%;
  }

  .controlSearch {
    width: 35%;
  }

  .pTotalElement {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0 !important;
    padding: 0.7rem 0;
  }
  
  .divTotalElment {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
  }

  .completedText {
    display: inline-block;
    padding: 0.5rem 1rem;
    color:black; /* 성공적인 텍스트 색상 */
    border-radius: 0.25rem;
    font-size: 16px;
  }